<?xml version="1.0"?>
<launch>
  <!-- <arg name="gui" default="true"/> -->
  <!-- <arg name="rvizconfig" default="$(find package)/urdf.rviz"/> -->
  <!-- Launch Gazebo with empty world -->
  <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">  -->
  <!-- <include> -->
  <arg name="world_name" value="$(find package)/urdf/robot.urdf"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="model" default="$(find package)/urdf/robot.urdf"/>
  <!-- </include> -->


  <!-- Load URDF model -->
  <param name="robot_description" textfile="$(find package)/urdf/robot.urdf" />
  <!-- <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model my_robot -param robot_description -x 0 -y 0 -z 0"/>
</launch>
